h1 {
  color: red;
  text-align: center;
}
p {
  text-indent: 15;
  font-family: sans-serif;
  font-weight: 200;
}
img {
  width: 300;
  height: 195;
  text-align: center;
}
li {
  font-style: italic;
  font-size: 19
}
